@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #ec4e20;
  --color-secondary: #ff9505;
}

.title3d {
  text-transform: uppercase;
  color: var(--color-primary);
  text-shadow: 1px 1px 1px var(--color-secondary),
    1px 2px 1px var(--color-secondary), 1px 3px 1px var(--color-secondary),
    1px 4px 1px var(--color-secondary), 1px 5px 1px var(--color-secondary),
    1px 6px 1px var(--color-secondary), 1px 7px 1px var(--color-secondary),
    1px 8px 1px var(--color-secondary);
}
